@model IEnumerable<Models.AppointmentModel>
@{
    ViewBag.Title = "NurseViewPatientAppointments";
}
@section ContentBreadCrumBar
    {
    <a class="glyphicon "> Nurse View Patient Appointments </a>
}
<!Doctype Html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <link href="~/Scripts/tableStyle.css" rel="stylesheet" />
    <script type="text/javascript">

    </script>
</head>
<body>

              <table id="detailsTable">
                        <thead>
                            <tr>
                                <th>Appointment Number</th>
                                <th>Doctor ID </th>
                                <th>Patient ID</th>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                         {
                            <tr style="text-align:center">
                                <td>
                                    @item.appointment_ID
                                </td>
                                <td>
                                    @item.doctorName
                                </td>
                                <td>
                                    @item.patientName
                                </td>
                                <td>
                                    @((item.appointment_Date).ToString("MM-dd-yyyy"))
                                </td>
                                <td>
                                    @(item.timings)
                                </td>
                            </tr>
                        }
                    </table>


</body>
</html>

